### Библиотеки / данные

импортируем numpy и pandas

In [ ]:
import numpy as np
import pandas as pd

- считываем данные 
- используем столбец Symbol в качестве индекса 
- считываем только те столбцы ['Symbol', 'Sector', 'Price', 'Book Value']

| Column Name        | Description
| ------------- |:-------------:|
|Symbol|Сокращенное название организации|
|Name|Полное название организации|
|Sector|Сектор экономики|
|Price|Стоимость акции|
|Dividend Yield|Дивидендная доходность|
|Price/Earnings|Цена / прибыль|
|Earnings/Share|Прибыль на акцию|
|Book Value|Балансовая стоимость компании|
|52 week low|52-недельный минимум|
|52 week high|52-недельный максимум|
|Market Cap|Рыночная капитализация|
|EBITDA|**E**arnings **b**efore **i**nterest, **t**axes, **d**epreciation and **a**mortization|
|Price/Sales|Цена / объём продаж|
|Price/Book|Цена / балансовая стоимость|
|SEC Filings|Ссылка *sec.gov*|

In [ ]:
sp500 = pd.read_csv(filepath_or_buffer = 'sp500.csv',
                    index_col='Symbol',
                    usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

In [ ]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

Считываем исторические данные о котировках акций. Этот датасет, как и все остальные из этих примеров, можно найти в папке Data, ссылка на которую есть на Piazza

In [ ]:
omh = pd.read_csv(filepath_or_buffer = "omh.csv", 
                  parse_dates=['Date'])

omh.set_index('Date', 
              inplace=True)

In [ ]:
omh.head()

             MSFT    AAPL
Date
2014-12-01  48.62  115.07
2014-12-02  48.46  114.63
2014-12-03  48.08  115.93
2014-12-04  48.84  115.49
2014-12-05  48.42  115.00

### Сводка статистик

получаем сводку статистик для датафрейма, с которой работаем как с обычным датафреймом

In [ ]:
sp500.describe()

            Price     Book Value
count   500.00000     499.000000
mean     77.36860     301.611301
std      87.59694    6195.727862
min       0.00000     -51.275000
25%      38.74500      10.836500
50%      58.35500      19.098000
75%      86.68000      31.386500
max    1197.12000  138425.453100

вычисляем сводку статистик для отдельного столбца Price

In [ ]:
sp500.Price.describe()

count     500.00000
mean       77.36860
std        87.59694
min         0.00000
25%        38.74500
50%        58.35500
75%        86.68000
max      1197.12000
Name: Price, dtype: float64

получаем сводку статистик для нечисловых данных

In [ ]:
sp500.Sector.describe()

count                        500
unique                        13
top       Consumer Discretionary
freq                          85
Name: Sector, dtype: object

метод info:

In [ ]:
sp500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, MMM to ZTS
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sector      500 non-null    object
 1   Price       500 non-null    float64
 2   Book Value  499 non-null    float64
dtypes: float64(2), object(1)
memory usage: 15.6+ KB

получаем сводную статистику для нечисловых данных

In [ ]:
sp500.Sector.value_counts(normalize=True)

Consumer Discretionary         0.170
Financials                     0.164
Industrials                    0.128
Information Technology         0.128
Health Care                    0.108
Energy                         0.082
Consumer Staples               0.078
Utilities                      0.066
Materials                      0.058
Telecommunications Services    0.012
Consumer Discretionary         0.002
Consumer Staples               0.002
Industries                     0.002
Name: Sector, dtype: float64

### Арифметические операции

- задаем стартовое значение генератора случайных чисел для получения воспроизводимых результатов
- создаем объект DataFrame

In [ ]:
np.random.seed(123)
df = pd.DataFrame(np.random.randn(5, 4), 
                  columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0 -1.085631  0.997345  0.282978 -1.506295
1 -0.578600  1.651437 -2.426679 -0.428913
2  1.265936 -0.866740 -0.678886 -0.094709
3  1.491390 -0.638902 -0.443982 -0.434351
4  2.205930  2.186786  1.004054  0.386186

умножаем все на 2, берём только абсолютные значения

In [ ]:
abs(df * 2)

          A         B         C         D
0  2.171261  1.994691  0.565957  3.012589
1  1.157201  3.302873  4.853358  0.857825
2  2.531873  1.733481  1.357772  0.189418
3  2.982779  1.277804  0.887964  0.868703
4  4.411860  4.373572  2.008108  0.772373

вычитаем первую строку из каждой строки объекта DataFrame

In [ ]:
df

          A         B         C         D
0 -1.085631  0.997345  0.282978 -1.506295
1 -0.578600  1.651437 -2.426679 -0.428913
2  1.265936 -0.866740 -0.678886 -0.094709
3  1.491390 -0.638902 -0.443982 -0.434351
4  2.205930  2.186786  1.004054  0.386186

In [ ]:
df.iloc[0]

A   -1.085631
B    0.997345
C    0.282978
D   -1.506295
Name: 0, dtype: float64

In [ ]:
df - df.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.507030  0.654091 -2.709658  1.077382
2  2.351567 -1.864086 -0.961865  1.411586
3  2.577020 -1.636247 -0.726960  1.071943
4  3.291561  1.189441  0.721075  1.892481

вычитаем объект DataFrame из объекта Series

In [ ]:
df.iloc[0] - df

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1 -0.507030 -0.654091  2.709658 -1.077382
2 -2.351567  1.864086  0.961865 -1.411586
3 -2.577020  1.636247  0.726960 -1.071943
4 -3.291561 -1.189441 -0.721075 -1.892481

- возьмём второе и третье поле 1-ой строки:
- добавляем столбец E
- смотрим, как применяется выравнивание в этой математической операции

In [ ]:
df

          A         B         C         D
0 -1.085631  0.997345  0.282978 -1.506295
1 -0.578600  1.651437 -2.426679 -0.428913
2  1.265936 -0.866740 -0.678886 -0.094709
3  1.491390 -0.638902 -0.443982 -0.434351
4  2.205930  2.186786  1.004054  0.386186

In [ ]:
s = df.iloc[0][1:3]
s['E'] = 0
s

B    0.997345
C    0.282978
E    0.000000
Name: 0, dtype: float64

In [ ]:
df + s

    A         B         C   D   E
0 NaN  1.994691  0.565957 NaN NaN
1 NaN  2.648782 -2.143701 NaN NaN
2 NaN  0.130605 -0.395908 NaN NaN
3 NaN  0.358443 -0.161003 NaN NaN
4 NaN  3.184132  1.287032 NaN NaN

извлекаем строки в позициях с 1-й по 3-ю и только столбцы B и C <br>
по сути - извлекаем небольшой квадрат из середины df

In [ ]:
subframe = df[1:4][['B', 'C']].copy()
subframe

          B         C
1  1.651437 -2.426679
2 -0.866740 -0.678886
3 -0.638902 -0.443982

демонстрируем, как происходит выравнивание при выполнении операции вычитания

In [ ]:
df - subframe

    A    B    C   D
0 NaN  NaN  NaN NaN
1 NaN  0.0  0.0 NaN
2 NaN  0.0  0.0 NaN
3 NaN  0.0  0.0 NaN
4 NaN  NaN  NaN NaN

извлекаем столбец A и вычитаем его из нашего датафрейма

In [ ]:
df.sub(df['A'], axis=0)

     A         B         C         D
0  0.0  2.082976  1.368609 -0.420664
1  0.0  2.230037 -1.848079  0.149688
2  0.0 -2.132677 -1.944822 -1.360645
3  0.0 -2.130292 -1.935372 -1.925741
4  0.0 -0.019144 -1.201876 -1.819744

### Одномерные статистики

#### минимум / максимум

определяем максимальную цену для обеих акций

In [ ]:
omh[['MSFT', 'AAPL']].min()

MSFT     45.16
AAPL    106.75
dtype: float64

определяем индекс, которому соответствует максимальная цена для обеих акций

In [ ]:
omh[['MSFT', 'AAPL']].idxmin()

MSFT   2014-12-16
AAPL   2014-12-16
dtype: datetime64[ns]

#### cреднее значение / медиана / мода

вычисляем среднее значение для всех столбцов в датафрейме omh

In [ ]:
omh.mean()

MSFT     47.493182
AAPL    112.411364
dtype: float64

вычисляем значение, усредненное по всем столбцам, для каждой строки (выведем первые 5)

In [ ]:
omh.mean(axis=1).head()

Date
2014-12-01    81.845
2014-12-02    81.545
2014-12-03    82.005
2014-12-04    82.165
2014-12-05    81.710
dtype: float64

вычисляем медиану значений для каждого столбца

In [ ]:
omh.median()

MSFT     47.625
AAPL    112.530
dtype: float64

вычисляем моду для столбца Sector

In [ ]:
sp500.Sector.mode()

0    Consumer Discretionary
dtype: object

мод может быть несколько, поэтому результат операции - Series

In [ ]:
s = pd.Series([1, 2, 3, 3, 5, 1])
s.mode()

0    1
1    3
dtype: int64

#### [дисперсия](https://ru.wikipedia.org/wiki/Дисперсия_случайной_величины) / среднеквадратичное отклонение

вычисляем дисперсию значений в каждом столбце

In [ ]:
omh.var()

MSFT    0.870632
AAPL    5.706231
dtype: float64

In [ ]:
(omh.MSFT**2 - omh.MSFT.mean()**2).sum() / (omh.shape[0]-1)

0.8706322510824867

вычисляем среднеквадратичное отклонение

In [ ]:
omh.std()

MSFT    0.933077
AAPL    2.388772
dtype: float64

In [ ]:
omh.MSFT.var()**0.5

0.9330767659106356

#### [ковариация](https://ru.wikipedia.org/wiki/Ковариация) / [корреляция](https://ru.wikipedia.org/wiki/Корреляция)

вычисляем ковариацию между MSFT и AAPL

In [ ]:
omh.MSFT.cov(omh.AAPL)

1.9261240259740264

вычисляем корреляцию между MSFT и AAPL

In [ ]:
omh.MSFT.corr(omh.AAPL)

0.8641560684381171

In [ ]:
omh.MSFT.cov(omh.AAPL) / (omh.MSFT.std() * omh.AAPL.std())

0.8641560684381169

либо можем получать матрицу ковариаций

In [ ]:
omh.corr()

          MSFT      AAPL
MSFT  1.000000  0.864156
AAPL  0.864156  1.000000