### Библиотеки / данные

импортируем библиотеки numpy и pandas

In [ ]:
import numpy as np
import pandas as pd

В задании `Test_Pandas` (работа 2)  код для слияния датасетов уже написан. Этот раздел необходим испключительно для справки.

### Слияние датафреймов

**Аргументы функции merge**


| Аргумент        | Описание
| ------------- |:-------------:|
|left|Объект DataFrame в левой части операции слияния|
|right|Объект DataFrame в правой части операции слияния|
|how|Допустимые значения: 'inner', 'outer', 'left', 'right '|
|on|Имена столбцов, по которым производится соединение. Должны присутствовать в обоих объектах DataFrame. Если не заданы и не указаны никакие другие ключи соединения, то используются имена столбцов, общих для обоих объектов|
|left_on|Столбцы левого DataFrame, используемые как ключи соединения|
|right_on|Столбцы правого DataFrame, используемые как ключи соединения|
|left index|Использовать индекс строк левого DataFrame в качестве его ключа соединения (или нескольких ключей в случае мультииндекса)|
|right_index|То же, что left_index, но для правого DataFrame|
|sort|Сортировать слитые данные лексикографически по ключам соединения по умолчанию True. Иногда при работе с большими наборами данных лучше отключить
|suffixes|Кортеж строк, которые дописываются в конец совпадающих имен столбцов;
|сору|Если равен False, то в некоторых особых случаях разрешается не копировать данные в результирующую структуру.|

для примеров:

In [ ]:
df1 = pd.DataFrame({'key': ['a','a', 'a', 'b', 'b', 'c', 'd'],
                    'data1': range(7)},
                    index = range(3,10))
df2 = pd.DataFrame({'key': ['a', 'b', 'b', 'f'],
                    'data2': range(4)})

In [ ]:
df1

  key  data1
3   a      0
4   a      1
5   a      2
6   b      3
7   b      4
8   c      5
9   d      6

In [ ]:
df2

  key  data2
0   a      0
1   b      1
2   b      2
3   f      3

по умолчанию:

In [ ]:
pd.merge(df1, df2)

  key  data1  data2
0   a      0      0
1   a      1      0
2   a      2      0
3   b      3      1
4   b      3      2
5   b      4      1
6   b      4      2

по каким столбцам соединять?

In [ ]:
pd.merge(df1, df2, on='key')

  key  data1  data2
0   a      0      0
1   a      1      0
2   a      2      0
3   b      3      1
4   b      3      2
5   b      4      1
6   b      4      2

разные имена столбцов:

In [ ]:
pd.merge(df1, df2, left_on='data1', right_on='data2')

  key_x  data1 key_y  data2
0     a      0     a      0
1     a      1     b      1
2     a      2     b      2
3     b      3     f      3

задание суффиксовов:

In [ ]:
pd.merge(df1, df2, left_on='data1', right_on='data2',suffixes=('_left', '_right'))

  key_left  data1 key_right  data2
0        a      0         a      0
1        a      1         b      1
2        a      2         b      2
3        b      3         f      3

соединение по нескольким столбцам:

In [ ]:
pd.merge(df1, df2,
         left_on=['data1', 'key'],
         right_on=['data2', 'key'])

  key  data1  data2
0   a      0      0

указываем тип соединения:

In [ ]:
pd.merge(df1, df2, how='outer')

  key  data1  data2
0   a    0.0    0.0
1   a    1.0    0.0
2   a    2.0    0.0
3   b    3.0    1.0
4   b    3.0    2.0
5   b    4.0    1.0
6   b    4.0    2.0
7   c    5.0    NaN
8   d    6.0    NaN
9   f    NaN    3.0

In [ ]:
df1

  key  data1
3   a      0
4   a      1
5   a      2
6   b      3
7   b      4
8   c      5
9   d      6

In [ ]:
df2

  key  data2
0   a      0
1   b      1
2   b      2
3   f      3

In [ ]:
pd.merge(df1, df2, left_index=True, right_on='data2')

  key_x  data1 key_y  data2
3     a      0     f      3

In [ ]:
pd.merge(df1, df2, left_on='data1', right_index=True)

  key_x  data1 key_y  data2
3     a      0     a      0
4     a      1     b      1
5     a      2     b      2
6     b      3     f      3

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True)

  key_x  data1 key_y  data2
3     a      0     f      3